# Systemd script for scanoss-hook
# Replace {DEST} with your destination folder 
[Unit]
Description=SCANOSS webhook integration service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash {DEST}/scanoss-hook-systemd.sh

[Install]
WantedBy=multi-user.target